@namespace ATCer.LTFATCenter.Client.Pages
@inherits EditOperationDialogBase<FlightPlanDto, long>

@if (_editModel != null)
{
    <Form Loading="@_isLoading"
            Model="@_editModel"
            LabelCol="new ColLayoutParam { Span = 8 }"
            WrapperCol="new ColLayoutParam { Span = 16 }"
            OnFinish="OnFormFinish"
            Context="model">
        <FormItem>
            <Input @bind-Value="@model.Callsign" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.RegMarking" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.SOBT" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.EOBT" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.ETOT" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.ELDT" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.ATOT" />
        </FormItem>
        <FormItem>
            <Input @bind-Value="@model.ALDT" />
        </FormItem>
        @if (this.Options.Type.Equals(DrawerInputType.Edit) || this.Options.Type.Equals(DrawerInputType.Select))
        {
            <FormItem Label="创建时间">
                <span>@model.CreatedTime.ToString(ClientConstant.DateTimeFormat)</span>
            </FormItem>
            <FormItem Label="更新时间">
                <span>@model.UpdatedTime?.ToString(ClientConstant.DateTimeFormat)</span>
            </FormItem>
        }
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Space>
                @if (!DrawerInputType.Select.Equals(this.Options.Type))
                {
                    <SpaceItem>
                        <Button Type="@ButtonType.Primary" HtmlType="submit">
                            @localizer["保存"]
                        </Button>
                    </SpaceItem>
                }
                <SpaceItem>
                    <Button OnClick="_=>OnFormCancel()">
                        @localizer["取消"]
                    </Button>
                </SpaceItem>
            </Space>
        </FormItem>
    </Form>
}
